NEXT_PUBLIC_PROMO_CODE=SKETCH10

NEXT_PUBLIC_GA_ID=

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=
NEXT_PUBLIC_PADDLE_PRICE_TRIAL=
NEXT_PUBLIC_PADDLE_PRICE_WEEKLY=
NEXT_PUBLIC_PADDLE_PRICE_YEARLY=
NEXT_PUBLIC_PADDLE_DISCOUNT_CODE=
